.wrap {
    padding: 120px;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    border-radius: 20px;
    padding: 20px 50px;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.imagem>img {
    width: 500px;
    border: 1px solid blue;
}

.item-description > h2{
    padding: 20px;
}