.wrap {
    padding: 120px;
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    border-radius: 20px;
    padding: 20px 50px;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.priceandsold {
    display: flex;
    color: gray;
    padding: 1px;
}

.condition {
    padding-left: 20px;
}

.sold_quantity {
    padding-left: 5px;
}

.imagem>img {
    width: 500px;
}

.item-description {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.item-description>h2 {
    padding: 20px;
}

.price {
    padding: 20px;
}

.pricecurrency {
    font-size: 2rem;
    font-weight: 400;
}

.pricepromo {
    font-size: 1rem;
    font-weight: 400;

}

.addcart{
    cursor: pointer;
    color:    #3483fa;
    background-color: rgba(65,137,230,.15);
    border-radius: 8px;
    border-color: transparent;
    justify-content: center;
    width: 100%;
    height: 60px;

}
@media(max-width:600px) {

    .wrap {
        padding: 100px 5px 20px;
        display: flex;
        flex-direction: row;
    }

    .item {
        display: block;
        flex-direction: row;
        width: 100vw;
        height: 100%;
        padding: 1px 0px;
        margin: 0;
        justify-content: center;
    }

    .imagem {
        display: flex;
        justify-content: center;
    }


    .imagem>img {
        width: 350px;
    }

}